body {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 62.5%;
}

header.main {
    background-color: #DCE7F1;
    margin-bottom: 0.5em;
    padding: 0.5em;
}

header.main h1 {
    color: #4C4A54;
    font-size: 2em;
    float: right;
}

header.main img {
    width: 48px;
    height: 48px;
}

#login {
    border: solid black 1px;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
}

#login input {
    width: 97%;
    margin-top: 0.5em;
    padding: 0.5em;
}

#login input[type=Submit] {
    width: 100%;
}

footer.main {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 999999;
}

footer.main h2 {
    color: white;
    background-color: black;
    padding: 0.1em;
}