.container {
    padding-top: 0.8em;
}

#logo {
    width: 48px;
    height: 48px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-fixed-bottom {
    text-align: center;
    position: fixed;
    bottom: 0;
}

.navbar li {
    text-align: center;
}

#tiddler-definition {
    border-image: url(http://tiddlyspace.com/note.png) 20 40 30 40 stretch;
    -webkit-border-image: url(http://tiddlyspace.com/note.png) 20 40 30 40 stretch;
    -moz-border-image: url(http://tiddlyspace.com/note.png) 20 40 30 40 stretch;
    border-width: 20px 40px 30px 40px;
    width: 200px;
    float: right;
    font-family: Georgia;
    font-size: 1em;
    line-height: 1;
}

dl {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -moz-margin-before: 1em;
    -moz-margin-after: 1em;
    -moz-margin-start: 0;
    -moz-margin-end: 0;
}

dl dt {
    font-size: 2em;
    line-height: 1em;
    margin: 0.5em 0 0;
}

#tiddler-definition dl dd:first-of-type {
    font-style: italic;
    color: #FD5B40;
    color: #DA4E37;
    font-size: 0.95em;
}
#tiddler-definition dl dd {
    line-height: 1.5em;
}

#tiddler-definition dl dd.tiddler-definitions {
    margin: 1em 0 1em 1.5em;
}